<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Requirements.txt Generator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <script src="{{ url_for('static', filename='js/jstree.min.js') }}"></script>
</head>
<body>
    <header>
        <h1><a href="\">Requirements.txt Generator</a></h1>
    </header>
    <main>
        <!-- message -->
        <div class="message"></div>

        <form method="POST" onsubmit="return false;">
            <div class="container">
                <div class="settings">
                    <!-- languages -->
                    <span class="setting-title">Languages</span>
                    <div>
                        {% for k, v in data.items() %}
                            {% if k == "Python" %}
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="lang" id="{{ v }}" value="{{ v }}" checked>
                                    <label class="form-check-label" for="{{ v }}">{{ k }}</label>
                                </div>
                            {% else %}
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="lang" id="{{ v }}" value="{{ v }}">
                                    <label class="form-check-label" for="{{ v }}">{{ k }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <div id="setting_box">
                        <div class="mb-3">
                            <span class="setting-title">Search</span>
                            <input id="deliverable_search" class="form-control" type="text" autocomplete="off">
                        </div>
                    </div>

                    <!-- selected directory -->
                    <div id="setting_box">
                        <span class="setting-title">Selected</span>
                        <div>
                            <ul id="select_now" class="list-group"></ul>
                        </div>
                    </div>
                    
                    <!-- button -->
                    <div id="setting_box" class="btn-group" style="width: 100%;">
                        <button onclick="update()" class="btn btn-outline-dark">Update</button>
                        <button onclick="value_reset()" class="btn btn-outline-dark">Reset</button>
                        <button onclick="confirm()" class="btn btn-outline-dark">Generate</button>
                        <button onclick="detail()" class="btn btn-outline-dark">Detail</button>
                    </div>

                    <div id="version_checkbox" class="py-2" style="width: 100%;">
                        <div class="form-check" style="float: right;">
                            <input class="form-check-input" name="version" type="checkbox" value="" id="versionCheckBox">
                            <label class="form-check-label" for="versionCheckBox">
                                Version
                            </label>
                        </div>
                    </div>

                    <!-- detail -->
                    <div id="setting_box">
                        <figure>
                            <div class="graphic">
                                <div class="row_group"></div>
                            </div>
                            <div class="x-axis"></div>
                        </figure>
                    </div>

                    <!-- select modules -->
                    <div id="select_modules"></div>
                </div>
                <!-- tree -->
                <div class="select-dirs">
                    <div id="SimpleJSTree"></div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div class="outer">
            <div class="inner">
                <a href="https://github.com/ogty/" target="_blank">
                    <i class="fab fa-github"></i><span class="name">ogty</span>
                </a>
            </div>
        </div>

        <script src="../static/js/main.js"></script>
        <script>
            $(".value").each(function() {
                var text = $(this).text();
                $(this).parent().css("width", text);
            });

            $.ajax({
                type: "GET",
                url: "{{ url_for('static', filename='tree.json') }}",
                dataType: "json"
            })
            .then(
                function (json) {
                    createJSTree(json)
                }
            );
        </script>
    </footer>
</body>
</html>
