<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements.txt Generator</title>
</head>
<body>
    <h1>Requirements.txt Generator</h1>

    <h3>Supported languages</h3>
    <ul>
        <li>Python</li>
        <li>Julia</li>
    </ul>

    <hr>

    <form method="POST">
        <div class="select_language">
            <input type="radio" name="language" value="python" checked>Python<br>
            <input type="radio" name="language" value="julia">Julia
        </div>
        <div class="select_dir">
            <label>Directory Name: </label><input type="text" name="dir_name">
        </div>
        <button type="submit">Generate</button>
    </form>
</body>
</html>