<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements.txt Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default/style.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/jstree.min.js"></script>
</head>
<body>
    <h1>Requirements.txt Generator</h1>

    <form method="POST" onsubmit="return false;">
        <div class="select_language">
            <input type="radio" name="lang" value="python" checked>Python<br>
            <input type="radio" name="lang" value="julia">Julia
        </div>
        <div id="SimpleJSTree"></div>
        <button onclick="generate()">Generate</button>
    </form>
    <div id="result"></div>

    <script>
        $(function () {
            var jsondata = [
                {"id": "root", "parent": "#", "text": "Root"},
                {"id": "ajson1", "parent": "root", "text": "Simple root node"},
                {"id": "ajson2", "parent": "root", "text": "Root node 2"},
                {"id": "ajson3", "parent": "ajson2", "text": "Child 1"},
                {"id": "ajson4", "parent": "ajson2", "text": "Child 2"},
                {"id": "ajson5", "parent": "ajson3", "text": "Child 2"},
                {"id": "ajson6", "parent": "ajson3", "text": "Child 2"},
            ];
            createJSTree(jsondata);
        });

        function createJSTree(jsondata) {
            $('#SimpleJSTree').jstree({
                'core': {
                    'data': jsondata
                },
                checkbox: {
                    "keep_selected_style": false
                },
                plugins: ['checkbox']
            })
        }

        function generate() {
            $.ajax("/generate", {
                type: "POST",
                data: {
                    "language": $("input:radio[name='lang']:checked").val(),
                    "dir_name": $('#SimpleJSTree').jstree().get_selected(true)[0].text
                },
                dataType: "json",
            }).done(function(data) {
                const message = JSON.parse(data.values).message
                $("#result").html(message);
                console.log("Communication successful.");
            }).fail(function(data) {
                console.log("Communication failed.");
        });
        }
    </script>
</body>
</html>