<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default/style.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/jstree.min.js"></script>
<body>
    <div id="tree1">
        <ul>
            <li>demo</li>
            <li>dist
                <ul>
                    <li>themes</li>
                    <li>jstree.js</li>
                    <li>jstree.min.js</li>
                </ul>
            </li>
            <li>src</li>
            <li>test</li>
            <li>LICENCE-MIT</li>
        </ul>
    </div>
    <script>
        $(function(){$('#tree1').jstree();});
    </script>
</body>
</html>